@import-normalize;

.friendList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 24px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px -20px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px -20px rgba(66, 68, 90, 1);
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  margin-left: 20px;
}

.isOnline {
  composes: status;
  background-color: green;
}

.isOffline {
  composes: status;
  background-color: red;
}

.avatar {
  margin: 10px 20px;
  width: 60px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  background-color: #e7ecf2;
}
